@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1593093492240'); /* IE9 */
  src: url('iconfont.eot?t=1593093492240#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJwAAsAAAAABhwAAAIlAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPwE2AiQDCAsGAAQgBYRtBzkbbgUR1YsZsq8GbOcaDHachqC6ZuneLS5tfvYfa+GmpMzMnPHw337/22dm7vvzTZNq+ut30WZOJpGoZE2QGiESCkSSRbFIfvs/Z9kksDDxQ7R3rNAW81vOf2lGwphLQOb/HHqoCoCEZdXweS6nN4EOZH6gc52tSWNNPuoFGAdSoHtgFFkJZdwwdsELfEygy6R1sf/8+QNVYa8KxJMk8qAW0orCalVoNRws4q1GTa9TvIm+H382opI0mT1w+vgphO3vnIas7VFAyBDQ8QYZ6yjEZWP5WBaMy7rKxSzH6g2+ax+ExFH9gv11dncPGIeV4DtvpQAJHmuqjI5Jx4j8rBNt7Kevhm34s3xbHwkEQx8oc7rn/7VZwOf+NfIVw6LUdSLBu6sDh4qh28FUNLXRlcwiCd7ThbYdH/Jtqmf0RPVQjU6IdpjIkFXzZGHX0ei2iZZqC13WHB3vNuypLEonVj0HCAPeIenzHtmAj2Rhv6Ix5h9aBiKjy3UML+y2GGzSIOQpheg/MAm4NG5YG3HvF0WX3JO8HvF/JFWSw8V0Xq69UEmyxJbqGi1VDRrhAp/Bc5TnjFY4pUCnsao9zmam6U3TgAtoACFPKUT/gUnApQnGa6Py+S+KLrknHZa68o+kSmbHxXQ+gHxxlIMsj/JKdY2WqgaNcIHPYB7lOaNtnpdSoNN4QtEeZ84oM9Qx3d5V/N0J6ALbm2rOTVlp4pXKF0+Eb+vDEgAA') format('woff2'),
  url('iconfont.woff?t=1593093492240') format('woff'),
  url('iconfont.ttf?t=1593093492240') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1593093492240#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouarrow492:before {
  content: "\e6b0";
}

